<% content_for :sidebar do %>
  <h5>Поддержите вакансию</h5>
  <p>Поделитесь ссылкой в социальных сетях.</p>
<% end %>

<article>
  <h1><%= @vacancy.title %></h1>
  <h4 class="muted"><%= @vacancy.company %></h4>
  <%= simple_format @vacancy.description %>
  <section class="row">
    <section class="span6">
      <address>
        <strong>Компания</strong><br />
        <%= @vacancy.company %><br />
        <% unless @vacancy.url.blank? %>
          <%= link_to @vacancy.url, @vacancy.url %><br />
        <% end %>
        <% unless @vacancy.phone.blank? %>
          Телефон: <%= @vacancy.phone %>
        <% end %>
      </address>
    </section>
    <section class="span6">
      <address>
        <strong>Контактная информация</strong><br />
        <% unless @vacancy.name.blank? %>
          <%= @vacancy.name %><br />
        <% end %>
        <%= mail_to @vacancy.email, nil, :encode => "hex", :replace_at => "[at]" %>
      </address>
    </section>
   </section>
  <% if admin?(@vacancy) %>
    <section class="actions form-stacked">
      <%= button_to "Опубликовать", nil, :method => "put", :class => "small btn success" %>
      <%= link_to "Редактировать", edit_vacancy_url(@vacancy), :class => "small btn" %>
      <%= button_to "Удалить", vacancy_url(@vacancy), :method => "delete", :confirm => "Подтверждаем удаление вакансии?", :class => "small btn danger" %>
    </section>
  <% elsif owner?(@vacancy) %>
    <section class="actions form-stacked">
      <%= link_to "Редактировать", edit_vacancy_url(@vacancy), :class => "btn" %>
    </section>
  <% end %>
</article>