<% content_for :sidebar do %>
<% end %>
<% content_for :meta_title, "#{@vacancy.title} - RubyJobs.ru" %>
<% content_for :js do %>
  <!-- Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=293040454063703";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- /Facebook -->
  <!-- G+ -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <!-- /G+ -->
<% end %>

<article>
  <h1><%= @vacancy.title %></h1>
  <h4 class="muted"><%= @vacancy.company %></h4>
  <%= simple_format @vacancy.description %>
  <section class="row">
    <section class="span4">
      <address>
        <strong>Компания</strong><br />
        <%= @vacancy.company %><br />
        <% unless @vacancy.url.blank? %>
          <%= link_to @vacancy.url, @vacancy.url %><br />
        <% end %>
        <% unless @vacancy.phone.blank? %>
          Телефон: <%= @vacancy.phone %>
        <% end %>
      </address>
    </section>
    <section class="span4">
      <address>
        <strong>Контактная информация</strong><br />
        <% unless @vacancy.name.blank? %>
          <%= @vacancy.name %><br />
        <% end %>
        <%= mail_to @vacancy.email, nil, :encode => "hex", :replace_at => "[at]" %>
      </address>
    </section>
     <section class="span4">
      <strong>Поделитесь ссылкой</strong><br />
      <ul class="share-buttons">
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= vacancy_url(@vacancy) %>" data-text="<%= @vacancy.title %>" data-count="none" data-via="rubyjobsru">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </li>
        <li>
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </li>
        <li>
          <div style="display:inline-block;vertical-align:bottom;" class="fb-like" data-href="<%= vacancy_url(@vacancy) %>" data-send="false" data-layout="button_count" data-width="" data-show-faces="false" data-action="like"></div>
        </li>
      </ul>
     </section>
   </section>
  <% if admin?(@vacancy) %>
    <section class="actions form-stacked">
      <%= button_to("Опубликовать", approve_vacancy_url(@vacancy), :method => "put", :class => "small btn success") unless @vacancy.approved? %>
      <%= link_to "Редактировать", edit_vacancy_url(@vacancy), :class => "small btn" %>
      <%= button_to "Удалить", vacancy_url(@vacancy), :method => "delete", :confirm => "Подтверждаем удаление вакансии?", :class => "small btn danger" %>
    </section>
  <% elsif owner?(@vacancy) %>
    <section class="actions form-stacked">
      <%= link_to "Редактировать", edit_vacancy_url(@vacancy), :class => "btn" %>
    </section>
  <% end %>
</article>