<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="<%= t(".meta_description") %>" />
  <meta name="keywords" content="<%= t(".meta_keywords") %>" />
  <title><%= yield(:meta_title) %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, "http://feeds.feedburner.com/rubyjobsru", { :title => t("layouts.application.meta_title") } %>
  <%= favicon_link_tag %>
</head>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert-message <%= key %> fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= value %></p>
    </div>
    <% end %>
    <div class="row content-section">
      <div class="span4 sidebar">
        <div class="logo">
          <%= link_to_if !current_page?(root_url), image_tag("rubyjobs-logo.png", :size => "76x67", :alt => t(".meta_title")), root_url %>
        </div>
        <div class="tips">
          <%= yield(:sidebar) %>
        </div>
      </div>
      <div class="span12">
        <%= yield %>
      </div>
    </div>
    <% if current_page?(root_url) %>
    <div class="row content-section">
      <div class="span4 sidebar">
        <h1>Интересные события и проекты</h1>
      </div>
      <div class="span12">
        <div class="row">
          <div class="span6">
            <p><strong>.тостер {ruby}</strong> &mdash; это техническая конференция. Цель &mdash; дать профессионалам возможность поделиться своими знаниями.</p>
            <address>
              <strong>10 февраля, Москва, Digital October</strong><br />
              Подробности и регистрация на <a href="http://toster.ru">toster.ru</a>
            </address>
          </div>
          <div class="span6">
            <p><strong>RubyFlow.ru</strong> &mdash; коллективный блог сообщества разработчиков, использующих Ruby.</p>
            <address>
              Сайт &mdash; <a href="http://rubyflow.ru">http://rubyflow.ru</a>
            </address>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <footer class="row footer">
      <div class="span4">
        <p>&copy;&nbsp;2008&mdash;2012, <%= link_to "Alex Soulim", "http://soulim.com" %></p>
      </div>
      <div class="span6">
        <p><%= t(".hosting", :link => link_to(content_tag(:span, "locum.ru", :class => "label"), "http://locum.ru?code=f07cb8b5a66f6116967a13f8b2818e45fb644306")).html_safe %></p>
      </div>
      <nav class="span6">
        <ul>
          <li><%= link_to t(".pages.about"), page_url(:about) %></li>
          <li><%= link_to t(".pages.terms"), page_url(:terms) %></li>
          <li><%= link_to t(".pages.contacts"), page_url(:contacts) %></li>
        </ul>
      </nav>
    </footer>
  </div>
  
  <%= javascript_include_tag "application" %>
  <%= yield(:js) %>
  <% if Rails.env.production? %>
  <script type="text/javascript">
  
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-391915-13']);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  </script>
  <% end %>
</body>
</html>
